.main{
    text-line-through-color:#0c5460 ;
}
.story{
    background-color:greenyellow;

}
.values{
    background-color: #abdde5 ;
}
.aboutus{
    background-color:goldenrod;
    text-decoration: #28a745;

}
.body{
    background-color: darkolivegreen;
}
.fbids{
    background-color: #abdde5;
}