.team
{   margin-top: 30px;
    padding-left: 500px;
    background-color: #0069d9;

}
.doing{
    padding-top: 50px;
}
.quote1
{

}
body{
    margin: 0;
    padding: 0;
    font-family: Calibri;

}
header{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 100px;
    width: 100%;

}
.imh{
    background-color: #0069d9;
    margin-left: -100px

}


