body{
    margin: 0;
    padding: 0;
    background: url("new.jpg");
    background-size: cover;
    background-position: center;

}

.regbox{
    width: 550px;
    height: 650px;
    background: #000000;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.regbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.regbox input{
    width: 100%;
    margin-bottom: 20px;
}

.regbox input[type="text"], input[type="password"], input[type="email"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}
.regbox input[type="text"], input[type="password"], input[type="email"]:placeholder-shown{
    opacity: 50%;
}

.regbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: darkblue;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.regbox input[type="submit"]:hover{
    cursor: pointer;
    background: indianred;
    color: black;
}

.regbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.regbox a:hover{
    color: indianred;
}