.top_bar ul a:hover{
    width: 100%;
    color: rgb(255,255,255);
    background: #ff3a67;
}
.clr-1{
    color: #6f42c1;
}
.clr-2{
    color: #6f42c1;
    font-weight: bolder;
}
.navbar-light .navbar-nav .nav-link{
    color: #721c24;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7);
    background-color: #976afa;
}
.navbar-dark i{
    color: #6f42c1;
}
.cn-ftr{
    background-color: #121572;
    padding: 45px 0px;
    color: white;
}
.foter-des{
    padding: 30px 0px;

}
* {
    font-family: Verdana, Arial, sans-serif;
}
a {
    color: #70579D;
}
.header{
    background-color: azure;;
}
.footer{
    background-color: azure;
    height: 200px;
}
.ICONS{

    margin-left:-68px ;
}
[class*='c-']{
    width:100%;
    float: left;
    /*padding: 10px;*/


}

@media only screen and (min-width: 500px){
    .c-small-6{
        width: 50%;
    }

}
@media only screen and (min-width: 700px){
    .c-medium-4{
        width:33.3%;
    }

}
@media only screen and (min-width: 900px){
    .c-large-3{
        width:25%;
    }

}